body {
    overflow: hidden;
}

*[data-js-adtype], .abp { display: none !important; } 

.content {
    background-color: transparent !important;
}

.request-error-page-content {
    display: none !important;
}