body {
    color: #FFF;
    overflow: hidden;
    h1 {
        text-shadow: 1px 1px 2px black; 
    }
}
.grid {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-gap: 1rem;
    height: 90%;
    .setting {
        height: 100%;
        max-width: 100%;
        .CodeMirror {
            font-size: 1rem;
            height: 50%;
            width: 100%;
        }
        p {
            padding: 0.3rem;
            display: inline-block;
            text-shadow: 1px 1px 2px black; 

        }
        .input {
            width: 100%;
            input {
                width: 90%;
                background: #151515;
                border: 0;
                color: #FFF;
                padding: 0.5rem 5%;
                float: left;
            }
            button {
                width: 10%;
                border: 0;
                padding: 0.5rem;
                background: #151515;
                color: #2ecc71;
                font-weight: bold;
            }
        }
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #151515;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #2ecc71;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #28B16E;
  }